body {
  font-family: 'Montserrat';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
}

h3{
  font-size: 2.5rem;
  line-height: 1.5;
  padding-top: 5%;
}

p {
  color: #8f8f8f;
}

.big-heading{
  font-size: 3.5rem;
  line-height: 1.5;
}

.section-heading{
  font-size: 3.5rem;
  line-height: 1.5;
}

/* Sections */

.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

.white-section{
  background-color: #fff;
}

#title {

}

.container-fluid {
  padding: 3% 12% 7%;
}

.navbar-brand {
  font-family: "Montserrat";
  font-size: 2.5rem;
  font-weight: bold;
}

.navbar {
  padding: 0 0 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
}

.download-button {
  margin: 5% 3% 5% 0;
}

.title-image {
  width: 45%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
}

#features {
  padding: 7% 15%;
  position: relative;
  z-index: 1;
}

.feauture-box {
  text-align: center;
  padding: 5%;
}

.icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

#testimonials {
  background-color: #ef8172;
  text-align: center;
}

.carousel-item{
  padding: 7% 15%;
}

.testimonial-image{
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.5;
}

#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}


.press-logo{
  width: 15%;
  margin: 20px 20px 50;
}

#pricing{
  padding: 100px;
  text-align: center;
}

.price-text{
  font-size: 2rem;
  line-height: 1.5;
}

.pricing-column{
  padding: 3% 2%;
}

@media (max-width: 1028px) {

  #title{
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0):
  }
}

#cta{
  background-color: #ff4c68;
  text-align: center;
}


#footer{
  padding: 5%;
  text-align: center;
}

.social-icon{
  margin: 20px 10px;
}
